.body {
	/*background-image: url('../images/background.avif');
	background-position: center;
	background-size: cover;*/
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	background-color: #242124;
	height: 85vh;
	
}

.tilesWrapper {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 30px;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;

}

.cardTiles {
	border-style: solid;
	border-color: black;
	min-height: 15vh;
	min-width: 15vw;
	margin: 10px;
	padding: 1rem;
	background-color: #151415;
	background-size: container;
	border-style: solid;
	border-color: white;
	border-width: 7px;
	border-radius: 10px;

}

@media(min-width:1200px) {
.body {
	justify-content: space-between;
	}

	.tilesWrapper {
		justify-content: flex-start;
		margin-left: 30px;
		width: 65%;
	}

	.cardTiles {
		min-height: 8rem;
		min-width: 10rem;
	}

	.cardTiles:hover {
		box-shadow: 2px 2px 10px 10px red;
}}

@media (min-width: 1550px) {
		.cardTiles {
		min-height: 30vh;
		min-width: 25%;
	}}

