.body {
	background-color: lightgrey;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardTiles {
	border-style: solid;
	border-color: black;
	height: 40vh;
	width: 20vw;
	margin: 20px;
}
.cardTiles:hover {

}