.headerWrapper {
	display: flex;
	background-image: linear-gradient(#A30000, #242124);
	justify-content: space-between;
	height: 15vh;
	color: white;

}

.gameTitleWrap {
	border-style: solid;
	border-color: black;
	padding: 10px;
	text-align: center;
	font-size: 1em;

}

.gameDescriptionWrap {
	padding: 10px;
	font-size: .9em;
}

.scoreDivsWrapper {
	border-style: solid;
	border-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 1.1em;

}

.scoreDivs {
	border-style: solid;
	border-color: black;
	width: 30vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 560px) {

	.gameTitleWrap {
	font-size: 1.3em;

}

.gameDescriptionWrap {
	font-size: .9em;
}

}

/*@media (min-width: 1200px) {

	.gameTitleWrap {
	font-size: 1.2em;

}

.gameDescriptionWrap {
	font-size: .9em;
}
}*/