.slotsWrapper {
	display: none;
}

@media (min-width: 1200px) {
	.slotsWrapper {
	display: flex;
	align-self: center;
	justify-content: center;
	border-style: solid;
	border-color: white;
/*	height: 400px;*/
	background-color: white;
	border-style: solid;
	border-color: lightblue;
	border-width: 30px;
	margin-right: 50px;
}
	.slotDivs {
		color: white;
		padding: 1rem;
	
	}



/** {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/

	 .slotOneAnimation,.slotTwoAnimation, .slotThreeAnimation{
		display: flex;
		flex-direction: column;
		background-color:white;
		color: black;
		font-size: 8em;
		border-style: solid;
		border-color: white;
		margin: 10px;
		width: 250px;
		height: 250px;
		border-color: black;
		
	}




}