.slotsWrapper {
	display: none;
}

@media (min-width: 1200px) {
	.slotsWrapper {
	display: flex;
	border-style: solid;
	border-color: white;
	width: 35%;
	margin-right: 30px;
	max-height: 30vh;
	overflow: hidden;
	
}
	.slotDivs {
		color: white;
		padding: 1rem;
	
	}


	.slotOne, .slotTwo, .slotThree{
			display: flex;
		flex-direction: column;
		height: 100px;
		background-color: lightpink;
		color: black;
		font-size: 8em;
		border-style: solid;
		border-color: white;
		margin: 10px;
		width: 10vw;
		height: 25vh;
		text-align: center;
		
	}






	@keyframes scroll {
	  50% {margin-bottom: 30vh;}
	}

	 .slotOneAnimation,.slotTwoAnimation, .slotThreeAnimation{
		display: flex;
		flex-direction: column;
		height: 100px;
		background-color: lightpink;
		color: black;
		font-size: 8em;
		/*position: relative;
		animation: scroll 1s 1s linear forwards;*/

		border-style: solid;
		border-color: white;
		margin: 10px;
		width: 10vw;
		height: 25vh;
		text-align: center;
		
	}



}